{{ template "chart.header" . }}

{{ template "chart.description" . }}

## TL;DR:

```bash
helm install caddy-ingress caddy-ingress-controller\
  --repo http://butlergroup.net/caddy-ingress/ \
  --namespace=caddy-system \
  --create-namespace
```

## Introduction

This chart bootstraps a caddy-ingress-controller deployment on a [Kubernetes](http://kubernetes.io) cluster using the [Helm](https://helm.sh) package manager.

## Prerequisites

- Helm 3+
- Kubernetes 1.14+

## Installing the Chart

```bash
helm repo add caddy-ingress http://butlergroup.net/caddy-ingress/
helm install caddy-ingress caddy-ingress/caddy-ingress-controller --namespace=caddy-system
```

## Installing the Chart with on-demand TLS enabled

```bash
helm repo add caddy-ingress http://butlergroup.net/caddy-ingress/
helm install caddy-ingress caddy-ingress/caddy-ingress-controller \
  --namespace=caddy-system \
  --set ingressController.config.email=your@email.com \
  --set ingressController.config.onDemandTLS=true \
  --set ingressController.config.acmeDNSProvider=cloudflare \
  --set ingressController.config.acmeDNSResolvers[0]=1.1.1.1 \
  --set ingressController.config.permissionEndpoint=http://your-permission-endpoint--namespace=caddy-system
```

Note: Caddy expects to be able to query a local HTTP endpoint and receive an HTTP 200 OK response
for domains authorized for on-demand TLS. See [this link](https://caddyserver.com/docs/json/apps/tls/automation/on_demand/permission/http) for details. 

## Uninstalling the Chart

To uninstall `caddy-ingress`:

```console
$ helm uninstall caddy-ingress
```

The command removes all the Kubernetes components associated with the chart and deletes the release.

> **Tip**: List all releases using `helm list` or start clean with `helm uninstall caddy-ingress`

## Additional Configuration


## Troubleshooting



{{ template "chart.valuesSection" . }}